<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary" role="navigation">
        <a class="navbar-brand" href="#">SavePoint</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav" *ngIf="loggedIn()">
                <li routerLinkActive="active" class="nav-item"><a [routerLink]="['/games']" class="nav-link">Games</a></li>
                <li routerLinkActive="active" class="nav-item"><a [routerLink]="['/groups']" class="nav-link">Groups</a></li>
                <li routerLinkActive="active" class="nav-item"><a [routerLink]="['/members']" class="nav-link">Members</a></li>
            </ul>
            <ul *ngIf="!loggedIn()" class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">
                            <form #loginForm="ngForm" class="form" role="form" (ngSubmit)="login()">
                                <div class="form-group">
                                    <input id="usernameInput" #username="ngModel" placeholder="Username" class="form-control form-control-sm" type="text" required name="username" [(ngModel)]="model.username">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" #password="ngModel" placeholder="Password" class="form-control form-control-sm" type="text" required name="password" [(ngModel)]="model.password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul *ngIf="loggedIn()" class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome {{authService.decodedToken?.unique_name | titlecase}}!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
</nav>
<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot password</h3>
                <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Reset your password..</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



