<div id="main-container">
<div *ngIf="!registerMode" style="text-align:center">
    <h1>
        Manage, and share, your video games with ease!
    </h1>
    <p class="text-center">Need an easy way to secure your video game information and find new games to play!</p>
    <p class="text-center"> Look no further than Save Point; a cloud based social site that makes keeping track of, and sharing video game information, easier.</p>
    <p class="text-center"> Sign up for your free account today!</p>
    <div class="text-center">
        <br />
        <button type="button" class="btn btn-primary" (click)="registerToggle()">Register</button>
        <br />
        <br />
        <button type="button" class="btn btn-primary">Learn More</button>
    </div>
</div>

<div *ngIf="registerMode">
    <div>
        <app-register [games]="games" (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
</div>
</div>

