/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-container {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center
}

#main-container p {
    margin: 0; 
}

