@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}

.hidden {
  display: none;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 190px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.left-align {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

mat-toolbar a:hover {
  color: grey;
}
