<mat-card class="login-container">
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <p class="center-text">Account Login</p>
      <div class="center-form">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Username" name="username" type="text" required [(ngModel)]="model.username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <input matInput placeholder="Password" name="password" type="password" required [(ngModel)]="model.password">
          </td>
        </tr>
      </table>
    </div>
    <mat-card-actions class="center-text">
    <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
  </mat-card-actions>
  </form>
  </mat-card-content>
</mat-card>
